@inherits LayoutComponentBase

<MudThemeProvider Theme="_currentTheme"></MudThemeProvider>
<MudSnackbarProvider />

<MudLayout>
    <div class="background-container"></div>
    <MudMainContent>
        <div class="content-container">
            <MudContainer MaxWidth="MaxWidth.ExtraLarge" Style="margin-top:5px;">
                @Body
            </MudContainer>
        </div>
    </MudMainContent>
</MudLayout>

@code {
    private MudTheme _currentTheme = new MudTheme()
        {
            Palette = new Palette()
            {
                AppbarBackground = "#02fb66",
                Primary = "#fb020e",
                DrawerIcon = "#02fb66"
            }
        };
}
