@inherits LayoutComponentBase
@inject NavigationManager navMan

<MudThemeProvider Theme="_currentTheme"></MudThemeProvider>
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudLayout>
    <div class="background-container"></div>
    <MudMainContent>
        <div class="content-container">
            <MudContainer MaxWidth="MaxWidth.ExtraLarge" Style="margin-top:5px;">
                @Body
            </MudContainer>
        </div>
    </MudMainContent>
</MudLayout>

@code {
    private MudTheme _currentTheme = new MudTheme()
        {
            PaletteLight = new PaletteLight()
            {
                AppbarBackground = "#02fb66",
                Primary = "#fb020e",
                DrawerIcon = "#02fb66"
            },
            PaletteDark = new PaletteDark()
            {
                AppbarBackground = "#02fb66",
                Primary = "#fb020e",
                DrawerIcon = "#02fb66"
            },
            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthLeft = "260px",
                DrawerWidthRight = "300px"
            }
        };
}
